<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Leader board - Feature Me</title>
	<link rel="stylesheet" href="/share/style.css">
	<link rel="stylesheet" href="/leaderboard/style.css">
</head>
<body>
	<header>
		Leaderboard - Feature Me Alpha 0.1.0
	</header>
	<div id="main">
		<div id="example" class="content">
			<span class="title">Title</span>
			<span class="score">Score</span>
			<span class="rank">Rank</span>
			<span class="user">User</span>
			<span class="time">Time</span>
		</div>
		<div id="board">

		</div>
	</div>

<script src="/leaderboard/script.js"></script>
</body>
</html>